.container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100px;
    background-color: rgb(0, 192, 118);
    width: 100%;
  }
  
  .hamburger {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
  }
  
  .hamburger span {
    display: block;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  
  .container h1 {
      
      font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 1.8rem;
    margin: 0;
  }
  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: -320px;
    transition: left 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding: 20px;
    z-index: 1000;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 100px;
    
  }
  
  .sidebar li {
    margin: 20px 0;
  }
  
  li a{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: large;

  }
  li a:hover{
    text-shadow: rgba(0, 0, 0, 0.313) 1px 1px ;
    color:  rgb(0, 192, 118);
    
  }