


<div class="container">
    <h2 class="titulologin">
        Login
    </h2>
    <label for="email" class="labellogin">
        Email
    </label>
    <input [(ngModel)]="email" id="email" type="email" placeholder="Digite seu email" class="inputlogin" />

    <label for="senha" class="labellogin">
        Senha
    </label>
    <input [(ngModel)]="password" id="senha" type="password" placeholder="Digite sua senha" class="inputlogin" />

    <a href="#" class="alogin">
        Esqueceu a senha?
    </a>

    <button class="buttonlogin" (click)="login()" >
        Entrar
    </button>

</div>

